.container { border: 1px dotted #d0d0d0; border-radius: 2px; margin-bottom: 10px!important; padding: 10px; }
.row { border: 1px dotted #c0c0c0; border-radius: 2px; margin-bottom: 10px; padding: 10px; }
.col { border: 1px dotted #b0b0b0; border-radius: 2px; padding: 20px; }

.logo a { background: #ccc; border: 1px dotted #909090; border-radius: 2px; padding: 10px; }
.logo:hover a { background: #aaa; }

.h-list a { background: #f0f0f0; border: 1px dotted #a0a0a0; border-radius: 2px; padding: 10px; text-decoration: none; }
.h-list a:hover { background: #e0e0e0; }
.h-list li { margin-right: 5px; }
.social-icons a { border-radius: 50%; padding: 10px; width: 36px; height: 36px; text-align: center; }

a { color: #696965; transition: all .2s; }
a:hover, a:focus { border-style: solid; color: #292925; }

h1,h2,h3,h4,h5,h6 { color: #696965 !important; }
h1 { font-size: 42px !important; line-height: 54px; }
h2 { font-size: 36px !important; line-height: 45px; }
h3, .tertiary h1 { font-size: 27px !important; line-height: 36px; }
h4, .tertiary h2 { font-size: 18px !important; line-height: 27px; }
h5, .tertiary h3 { font-size: 18px !important; line-height: 27px; font-weight: bold; }
h6, .tertiary h4 { font-size: 16px !important; line-height: 22px; font-weight: bold; }

p { margin: 10px 0 16px !important; }
.tertiary p { font-size: 14px; }

small { font-size: 75% !important; }

.cta-link { font-family: "Droid Serif", serif; font-size: 15px; font-style: italic; font-weight: 700; line-height: 30px; margin-top: 20px; vertical-align: top; }
.cta-link span { display: inline-block; line-height: 30px; height: 30px; margin-left: 10px; text-align: center; transition: all .2s; width: 30px; vertical-align: baseline; }
.cta-link:hover span { margin-left: 15px; font-size: 12px; }
.cta-button { background: #f0f0f0; border: 1px dotted #a0a0a0; border-radius: 2px; font-weight: bold; margin-top: 1em; padding: 10px; text-align: center; }
.cta-button:hover { background: #e0e0e0; }

.col { margin-bottom: 1em; }

.hero-slideshow { margin: 0 auto 20px; max-width: 1368px; position: relative; }
.slide img { border: 1px dotted #d0d0d0; border-radius: 2px; }
.slideshow-nav { background: #fff; border: 1px dotted #b0b0b0; border-radius: 50%; display: block; height: 45px; line-height: 45px; margin-top: -23px; position: absolute; text-align: center; top: 50%; width: 45px; }
.slideshow-nav.prev { left: 20px; }
.slideshow-nav.next { right: 20px; }
.slideshow-nav a { display: block; height: 45px; left: 0; position: absolute; top: 0; width: 45px; text-indent: -999em; }
.slideshow-nav:hover { border: 1px solid #a0a0a0; }

.slideshow-nav.prev:before {
	content: "\e64e"; /* chevron left */
}
.slideshow-nav.next:before {
	content: "\e64f"; /* chevron right */
}